In [7]:
import sqlite3

connection = sqlite3.connect("library.db")
connection.execute("DROP TABLE IF EXISTS Book")
connection.execute("CREATE TABLE Book" + "(ID INTEGER PRIMARY KEY, Title Text,PublisherID INTEGER)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(0,'Example Book 0', 0)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(1,'Example Book 1', 1)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(2,'Example Book 2', 2)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(3,'Example Book 3', 3)")
question=input("Enter 1 to add, 2 to delete")
if question == "2":
    deleteID = input("enter ID of Book you want to delete ")
    connection.execute("DELETE FROM Book WHERE ID=?",(deleteID,))
elif question =="1":
    newID = input("enter ID of Book you want to change")
    title = input("enter new title")
    connection.execute("UPDATE BOOK SET Title = ? WHERE ID=?",(title,newID))
else:
    pass
#cursor method    
cursor = connection.execute("SELECT ID,Title,PublisherID FROM Book")
for item in cursor:
    for field in item:
        print(field)
        
#fethconemehtod
cursor2=connection.execute("SELECT ID,Title,PublisherID FROM Book")
row = cursor2.fetchone()
while row is not None:
    for i in range(2):
        print(row[i])
    row = cursor2.fetchone()
    
    
#fetchall
cursor3=connection.execute("SELECT ID,Title,PublisherID FROM Book")
all_results = cursor3.fetchall()
for item in all_results:
    for rec in item:
        print(rec)
connection.commit()
connection.close()

IndentationError: expected an indented block (<ipython-input-7-8471457866a1>, line 40)

In [6]:
import sqlite3

connection = sqlite3.connect("library2.db")
connection.execute("DROP TABLE IF EXISTS Book")
connection.execute("CREATE TABLE Book" + "(ID INTEGER PRIMARY KEY, Title Text,PublisherID INTEGER)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(0,'Example Book 0', 0)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(1,'Example Book 1', 1)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(2,'Example Book 2', 2)")
connection.execute("INSERT INTO Book(ID,Title,PublisherID)"+"VALUES(3,'Example Book 3', 3)")
question=input("Enter 1 to add, 2 to delete")
if question == "2":
    deleteID = input("enter ID of Book you want to delete ")
    connection.execute("DELETE FROM Book WHERE ID=?",(deleteID,))
elif question =="1":
    newID = input("enter ID of Book you want to change")
    title = input("enter new title")
    connection.execute("UPDATE BOOK SET Title = ? WHERE ID=?",(title,newID))
connection.commit()
connection.close()

Enter 1 to add, 2 to delete1
enter ID of Book you want to change1
enter new titlebob