In [ ]:
import sqlite3



class School:
    def __init__(self,id,name=,zone=):
        self.id = id
        self.name = name
        self.zone = zone
        
    def getname(self):
        return self.name
    
    def getid(self):
        return self.id
    
    def getzone(self):
        return self.zone
    
    def safe_name():
        for index in self.name:
            if self.name[index]=" ":
                self.name[index] ="_"
            if self.name[index]=="'" or "." or ",":
                self.name[index] =""
        return self.name
    
    def as_record():
        pass
    
    
class PrimarySchool(School):
    def __init__(self,id,name,zone,level,YearsOfStudy):
        super().__init__(self,id,name,zone,level,YearOfStudy):
            self.level = "primary"
            self.YearOfStudy = 6
            
    def as_record():
        pass
    
class SecondarySchool(School):
    def __init__(self,id,name,zone,level,YearsOfStudy):
        super().__init__(self,id,name,zone,level,YearOfStudy):
            self.level = "secondary"
            self.YearOfStudy = 4
            
    def as_record():
        pass
    
class JuniorCollege(School):
    def __init__(self,id,name,zone,level,YearsOfStudy):
        super().__init__(self,id,name,zone,level,YearOfStudy):
            self.level = "junior college"
            self.YearOfStudy = 2
            
    def as_record():
        pass

In [46]:
import sqlite3 
connection = sqlite3.connect('schools.db')
file = open("school_info.csv",'r')
file.readline()
schools = []
for line in file:
    schools.append(line.strip())
schools[247]='248,"SCHOOL OF SCIENCE AND TECHNOLOGY SINGAPORE",WEST,SECONDARY' #anomaly
schools[248]='249,"SCHOOL OF THE ARTS SINGAPORE",SOUTH,MIXED LEVELS' #anomaly

for i in range(len(schools)-1):
    schoolid,name,zone,level= schools[i].split(',')
    school = School(schoolid,name,zone)
    connection.execute(''"INSERT INTO School(SchoolID,Name,Zone,Level) VALUES(" + str(schoolid)+','+str(name)+','+str(zone)+','+str(level)+');' )
 
connection.commit()

OperationalError: no such table: School

In [ ]:
file = open("subjects_offered.csv",'r')
file.readline()
subjects= []

for line in file:
    subjects.append(line.strip())
    
for i in range(len(subjects)-1):
    schoolid,desc = subjects[i].split(',')
    print(schoolid)